@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main-container {
    width: 100vw;
    height: auto;
    background-color: #1F2937;
    /* border: 2px solid yellow; */
    box-sizing: border-box;
}

.header {
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;
    align-items: center;
    padding: 25px 150px;
    color: #F9FAF8;
}

.logo {
    /* border: 2px solid yellow; */
    font-size: 24px;
    font-weight: bold;
}

#navbar {
    display: flex;
    /* border: 2px solid yellow; */
    list-style-type: none;
}

ul#navbar li a {
    display: block;
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
    padding-left: 30px;
}

.hero-section {
    display: flex;
    /* box-sizing: border-box; */
    min-height: 420px;
    /* border: 2px solid yellow; */
    padding: 80px 150px 0 150px;
    color: #F9FAF8;
}

.hero-section-left-container,
.hero-section-right-container {
    display: flex;
    flex: 1;
    /* padding-top: 80px; */
}

.hero-section-left-message {
    padding-right: 50px;
}

.hero-section-left-message h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding-bottom: 15px;
}

.hero-section-left-message div,
.hero-section-left-message #signup {
    font-size: 18px;
    color: #E5E7EB;
}

#signup {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 7px 30px;
    margin-top: 15px;
    border-radius: 7px;
    font-size: 18px;
}

.hero-section-right-placeholder {
    height: 65%;
    width: 100%;
    text-align: center;
    /* border: 1px solid red; */
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ***************** */
/* MAIN SECTION: TOP */
/* ***************** */

.main-section-top {
    min-height: 500px;
    /* border: 2px solid red; */
    background-color: white;
}

.main-section-top-heading {
    font-size: 36px;
    text-align: center;
    font-weight: bolder;
    padding: 40px 0;
}

.main-section-top-img-container {
    display: flex;
    justify-content: center;
    gap: 55px;
    flex-wrap: wrap;
}

.main-section-top-one,
.main-section-top-two,
.main-section-top-three,
.main-section-top-four {
    display: flex;
    flex-direction: column;
}

.main-section-top-img-placeholder {
    border: 4px solid #3882F6;
    border-radius: 10%;
    height: 175px;
    width: 175px;
}

.main-section-top-subtext {
    text-align: center;
    max-width: 175px;
    padding-top: 15px;
    font-size: 18px;
}

/* ******************** */
/* MAIN SECTION: CENTER */
/* ******************** */

.main-section-center {
    display: flex;
    flex-direction: column;
    min-height: 425px;
    /* border: 2px solid red; */
    background-color: rgb(223, 216, 216);
}

.main-section-center-quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    padding: 125px 250px 0 250px;
}

.main-section-center-author {
    font-weight: bold;
    font-size: 24px;
    padding: 15px 275px 0 0;
    align-self: flex-end;
}

/* ******************** */
/* MAIN SECTION: BOTTOM */
/* ******************** */

.main-section-bottom {
    display: flex;
    min-height: 350px;
    /* border: 2px solid red; */
    background-color: white;
    justify-content: center;
    align-items: center;
}

.main-section-bottom-blue-box {
    color: #F9FAF8;
    width: 80%;
    height: 50%;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    
}

.main-section-bottom-blue-box-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid red; */
    box-sizing: border-box;
    padding-left: 150px;
    flex: 2;
}

.main-section-bottom-blue-box-right {
    /* border: 2px solid red; */
    flex: 1;
    align-self: center;
}

#cta-signup {
    border: 3px solid white;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    padding: 7px 30px;
    margin-top: 15px;
    border-radius: 7px;
}

.main-section-bottom-blue-box-right {
    padding-bottom: 15px;
}

.main-section-bottom-blue-box-cta {
    font-size: 24px;
    font-weight: bold;
}


/* ***************** */
/* FOOTER ************/
/* ***************** */

.footer {
    display: flex;
    height: 100px;
    /* border: 2px solid red; */
    color: #F9FAF8;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}